
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

* {
    background-color: pink;
    color: white;
    padding: 2px;
}

a {
    text-align: center;
    
}

img {
    margin: 25px;
    padding: 20px blue;
}

body{
    margin: 20px 20px;
    padding: 5px;
}