div content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #1e0256;
    padding: 35px;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: #ded1d1a7;
}

body{
    background-color: #ffff;
    margin: 0;
    padding: 0;
}

header{
    background-color: #ddd5d582;
}
nav a:hover{
    background-color: #405278;
    color: #ffff;
    text-decoration: none;
    
}

.home-title {
    color: #090705;
    font-family: sans-serif, monospace;
    font-size: 2em;
    margin-top: 10px;

}

h4{
    color: #090705;
}
.book, .join {
    color: #2006b4f3;
    text-decoration: none;
    font: bolder;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.book:hover, .join:hover{
    color: #292222;
}

.msg h2{
    color: #0a0602;
    margin: 0;
}


.msg p{
    color: #0a0602;
    font-size: 2em;
    padding-bottom: 15px;
    
}
.msg{
    background-color: #e4e8d8;
    line-height: 1.5em;
    padding: 35px;
}
footer, footer a:hover{
    color: #0a0602;

}

footer{
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img{
    padding-top: 15px;
}

footer a{
    color: #0a0602;
    text-decoration: none;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;

}

#logo_link{
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin-top: 20px;
}

.card-img{
    border: 10px solid black;
}

main section img{
    box-sizing: border-box;
}